@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    List<OwnerRecord.Owner> cafeOwners = (List<OwnerRecord.Owner>)ViewData["cafeOwners"];
}

<div class="text-center">
    <h1 class="display-4">List of Cafe Owners</h1>

    <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th>Account Number</th>
                <th>Legal Name</th>
                <th>Owner Name</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (OwnerRecord.Owner owner in cafeOwners)
                {
                    <tr>
                        <td>@owner.AccountNumber</td>
                        <td>@owner.DoingBusinessAsName</td>
                        <td>
                            @if (owner.OwnerFirstName == "No Information Available")
                            {
                                <span class="font-weight-bolder text-danger">@owner.OwnerFirstName</span>
                            }
                            else
                            {
                                <pre class="text-monospace">@owner.OwnerFirstName @owner.OwnerMiddleInitial @owner.OwnerLastName </pre>
                            }

                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>


