@page
@model IndexModel
@{
    List<OwnerRecord.Owner> cafeOwners = (List<OwnerRecord.Owner>)ViewData["cafeOwners"];
}

<div class="text-center">            
            <h1 class="display-4">Cafe Records</h1>

            <table class="table table-striped" style="background-color: lightgrey;">
                <thead>
                    <tr>
                        <th>Account Number</th>
                        <th>Legal Name</th>
                        <th>Owner Name</th>
                    </tr>
                <thead>
                    @{
                        foreach (OwnerRecord.Owner owner in cafeOwners)
                        {
                            <tr>
                                <td>@owner.AccountNumber</td>
                                <td>@owner.DoingBusinessAsName</td>
                                <td>@owner.OwnerFirstName @owner.OwnerMiddleInitial @owner.OwnerLastName</td>
                            </tr>
                        }
                    }
            </table>

    </div>

