@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    List<OwnerRecord.Owner> cafeOwners = (List<OwnerRecord.Owner>)ViewData["cafeOwners"];
    string ownerName = (string)ViewData["ownerNames"];
}

<head>
    <link rel="stylesheet" href="~/css/StyleSheet.css" type="text/css" />
    <link rel="stylesheet" href="~/css/print.css" type="text/css" media="print" />
    <link rel="stylesheet" href="~/css/mobile.css" type="text/css" media="screen and (max-device-width: 480px)" />
    <title>Chicago SideWalk Cafe</title>
</head>

<body class="body">
    <div class="text-center">
        <h1 class="hdr-text">Chicago SideWalk Cafe Owners</h1>

        <br />

        <table align="center" class="bg-text">
            <thead>
                <tr>
                    <th>Account Number</th>
                    <th>Cafe Name</th>
                    <th>Owner Name</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (OwnerRecord.Owner owner in cafeOwners)
                    {
                        <tr>
                            <td><span class="text-monospace">@owner.AccountNumber</span></td>
                            <td><span class="text-monospace">@owner.DoingBusinessAsName</span></td>
                            <td>
                                @if (owner.IsNameNull(owner.OwnerFirstName + owner.OwnerMiddleInitial + owner.OwnerLastName))
                                {
                                    <span class="font-weight-bolder text-danger">@ownerName</span>
                                }

                                else
                                {
                                    <span class="text-monospace">@owner.OwnerFirstName @owner.OwnerMiddleInitial @owner.OwnerLastName </span>
                                }

                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <br/>
    <div>
        <a class="badge-success" asp-area="" asp-page="/JSONFeed">Generate JSON</a>
    </div>
</body>