@page
@model IndexModel
@{
    
    List<OwnerRecord.Owner> cafeOwners = (List<OwnerRecord.Owner>)ViewData["cafeOwners"];
}
    <html>
    <head>
        <style>
            body {
                background-image: url("https://desktopwalls.net/wp-content/uploads/2014/07/Chicago%20Colorful%20Skyline%20View%20Desktop%20Wallpaper.jpg");
                background-repeat: no-repeat;
                background-size:cover;
            }
        </style>
    </head>
    </html>

        <div class="text-center">
            <h1 class="display-4" color><strong>Cafe Records</strong></h1>
            <br />

            <style>
                table {
                    border-collapse: collapse;
                    width: 100%;
                }

                th, td {
                    text-align: left;
                    padding: 8px;
                }

                tr:nth-child(even) {
                    background-color: #f2f2f2;
                }
            </style>


            <table>
                <tr>
                    <th>Account Number</th>
                    <th>Legal Name</th>
                    <th>Owner Name</th>
                </tr>
                @{
                    foreach (OwnerRecord.Owner owner in cafeOwners)
                    {
                        <tr>
                            <td>@owner.AccountNumber</td>
                            <td>@owner.DoingBusinessAsName</td>
                            <td>@owner.OwnerFirstName @owner.OwnerMiddleInitial @owner.OwnerLastName</td>
                        </tr>
                    }
                }
            </table>
        </div>


