@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    List<OwnerRecord.Owner> cafeOwners = (List<OwnerRecord.Owner>)ViewData["cafeOwners"];
    string ownerName = (string)ViewData["ownerNames"];
}

<style>
body  {
  background-image: url("https://hotelemc2.com/wp-content/uploads/2018/02/Why-Chicago-is-the-Best-City-in-the-World.png");
  background-color: #cccccc;

height: 100%; 
background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }

</style>

<title>Chicago SideWalk Cafe</title>

<head>
        
        <link rel="stylesheet" href="~/css/StyleSheet.css" type="text/css" />
 </head>


<div class="text-center">
    <h1 class="hdr-text">Chicago SideWalk Cafe Owners</h1>

    <br />
</table>
    <table class="bg-text">
        <thead bgcolor="grey">
            <tr>
                <th>Account Number</th>
                <th>Cafe Name</th>
                <th>Owner Name</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (OwnerRecord.Owner owner in cafeOwners)
                {
                    <tr>
                        <td>@owner.AccountNumber</td>
                        <td>@owner.DoingBusinessAsName</td>
                        <td>
                            @if (owner.IsNameNull(owner.OwnerFirstName + owner.OwnerMiddleInitial + owner.OwnerLastName))
                            {
                                <span class="font-weight-bolder text-danger">@ownerName</span>
                            }

                            else
                            {
                                <span class="text-monospace">@owner.OwnerFirstName @owner.OwnerMiddleInitial @owner.OwnerLastName </span>
                            }

                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
