@page
@model CafeRecords.Pages.SearchBusinessModel
@{
    ViewData["Title"] = "SearchBusiness";
    BusinessOwnerRecord.BusinessOwner[] businessOwners = (BusinessOwnerRecord.BusinessOwner[])ViewData["allBusinessOwners"];
}

<head>
    <link rel="stylesheet" href="~/css/StyleSheet.css" type="text/css" />
    <link rel="stylesheet" href="~/css/print.css" type="text/css" media="print" />
    <link rel="stylesheet" href="~/css/mobile.css" type="text/css" media="screen and (max-device-width: 480px)" />
</head>

<body class="body">
    <div class="text-center">
        <h1 class="hdr-text">Search Business Details</h1>
        <br />
    </div>
    <form action="" method="POST">
        <div class="form-group">
            <label class="control-label" for="search"><strong></strong></label>
            <input type="text" class="form-control" name="search" id="search" required />
        </div>
        <div class="form-group">
            <input type="submit" value="Search" class="btn btn-danger" />
        </div>
    </form>

    @if (Model.SearchCompleted)
    {
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="businessOwners" role="tabpanel">
                            <table class="bg-text">
                                <thead>
                                    <tr align="center">
                                        <th align="right">Business Name</th>
                                        <th align="left">License Number</th>
                                        <th align="center">Owner Name</th>
                                        <th align="center">Business Acitvity</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.businessOwners.Count() > 0)
                                    {
                                        @foreach (var businessOwner in Model.businessOwners)
                                        {
                                            <tr>
                                                <td align="center">@businessOwner.DoingBusinessAsName</td>
                                                <td align="center">@businessOwner.LicenseNumber</td>
                                                <td align="center">@businessOwner.OwnerFirstName @businessOwner.OwnerLastName</td>
                                                <td align="center">@businessOwner.BusinessActivity</td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr class="danger" align="center">
                                            <td colspan="5" class="text-center">
                                                <span class="font-weight-bolder text-danger">No results found for term "@Model.Search"</span>



                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</body>